<div ng-app='timeApp'>
	<div ng-controller="EntriesCtrl">
	  <h1>{{ view.title }}</h1>
	  <form ng-submit="addEntry()">
	  	Comment: <input type="text" ng-model="view.newEntry.comment" /> 
	  	Hours: <input type="number" ng-model="view.newEntry.hours" /> 
	  	Project: <input type="text" ng-model="view.newEntry.project" /> 
	  	Date: <input type="datetime" ng-model="view.newEntry.date" />
	  	<input type="submit" value="Add Entry" />
	  </form>
	  <hr/>
	  <div class="row" ng-repeat="entry in view.entries">
	    <h2>Project Name: {{ entry.project }}</h2>
	    <form>
		    	<p>
		    		Date:    <input type="datetime" ng-model="entry.date" />
		    		Hours:   <input type="number" 	ng-model="entry.hours" />
		    		User:    <input type="number" 	ng-model="entry.user_id" />
		    		Comment: <input type="text" 		ng-model="entry.comment" />

		    	<input type="submit" value="Save" ng-click="entry.$update()" /> 
		    	<input type="submit" value="Delete" ta-confirmatron="Are you sure?" ng-click="$parent.delete(entry, $index)" />
	    	</p>
	    </form>
	  </div>
	</div>	
</div>
