<div ng-app='timeApp'>
	<div ng-controller="EntriesCtrl">
	  <h1>{{ view.title }}</h1>
	  <div>
	  	<h1>Hours worked Today + {{ view.newEntry.hours * 60 }} </h1>
	  	<h1></h1>
	  </div>
	  <div>
	  	<h1>Hours worked This week</h1>
	  	<h1></h1>
	  </div>
	  <div>
	  	<h1>Hours to date</h1>
	  </div>	
	  <form ng-submit="addEntry()">
	  	Comment: <input type="text" value="none" ng-model="view.newEntry.comment" /> 
	  	Hours: <input type="number"  ng-model="view.newEntry.hours" /> 
	  	Minutes: <input type="number" ng-model="view.newEntry.minutes" />
	  	Project: <input type="text" ng-model="view.newEntry.project" /> 
	  	Date: <input type="date" ng-model="view.newEntry.date" />
	  	<input type="submit" value="Add Entry" />
	  </form>
	  <hr/>
	  <h2>Select Date Range:<h2>
	  <form>
	  	<p>
	  		Date From: <input type="date" ng-model="from_date" />
	  		Date To: <input type="date" ng-model="to_date" />
	  	</p>
	  </form>
	  <div class="row" ng-repeat="entry in view.entries | filter:dateFilter">
	    <h2>Project Name: {{ entry.project }}</h2>
	    <form>
		    	<p>
		    		Date:    <input type="datetime" ng-model="entry.date" />
		    		Hours:   <input type="number"	ng-model="entry.hours" />
		    		Minutes: <input type="number"   ng-model="entry.minutes" />
		    		Project: <input type="text" 	ng-model="entry.project" />
		    		Comment: <input type="text" 		ng-model="entry.comment" />

		    	<input type="submit" value="Save" ng-click="entry.$update()" /> 
		    	<input type="submit" value="Delete" ta-confirmatron="Are you sure?" ng-click="$parent.delete(entry, $index)" />
	    	</p>
	    </form>
	  </div>
	</div>	
</div>
