<div ng-app='timeApp'>
	<div ng-controller="EntriesCtrl">
	  <h1>{{ title }}</h1>
	  <div class="row" ng-repeat="entry in entries">
	    <h2>Project Name: {{ entry.project }}</h2>
	    <p>Date: {{ entry.date }} Hours: {{ entry.hours }} User: {{ entry.user_id }} Comment: {{ entry.comment }}<p>
	  </div>
	</div>	
</div>
