<h1>Admin Page</h1>

<div class="row">
      <h2>Project Name:<%= @entries.project %></h2>
      <form>
          <p>
            Date:    <input type="datetime" <%= @entry.date %> />
            <!-- Hours:   <input type="number" ng-model="entry.hours" />
            Minutes: <input type="number"   ng-model="entry.minutes" />
            Project: <input type="text"   ng-model="entry.project" />
            Comment: <input type="text"     ng-model="entry.comment" /> -->

          <!-- <input type="submit" value="Save" ng-click="entry.$update()" /> 
          <input type="submit" value="Delete" ta-confirmatron="Are you sure?" ng-click="$parent.delete(entry, $index)" /> -->
        </p>
      </form>
</div>
