/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.admin-table {
  border: 3px solid black;
  margin-left: 2%;
}

.form-field {
  display: inline-block;
  position: relative;
}

.form-control {
  border-radius: 0px;
}

.date-picker {
  margin-bottom: 30px;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
  border-radius: 10px;
}

.marquis {
  float:left;
  position: relative;
}

.clock-tower {
  float:left;
  margin-right: 50px;
  height: 100px;
}

.nav-title {
  position: relative;
  display: inline-block;
}

.nav-image {
  position: relative;
  display: inline-block;
  margin-bottom:35px;
}



h1, h2, h3, p{
  font-family: "Arial Rounded MT Bold";
}

tr, th{
  1.5 em;
  text-align: center;
}

.date-picker-small-text {
  margin-bottom: 0px;
}


.enter-box {
  background-color: #FFFFEB;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15%;
  background-color:grey;
  opacity: 0.97;
  border: 2px solid black;
}

.head-button {
  float: right;
  margin: 1%;
}

.bg {
  background-image:url('bigben3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:100%;
  height: 1000px;
  z-index: 99;
}

.app-background {
  background-color: #B6F2F2;
}

.time {
  font-size: 5em;
  color: white;
  font-family: "Arial Rounded MT Bold";
}

.time-box-text {
  color: white;
  font-family: "Arial Rounded MT Bold";
}

.time-box {
  background-color: #293333;
  text-align: center;
  border-radius: 15px;
}

.title {
  font-family: "Arial Rounded MT Bold";
  font-size: 11em;
  color: #293333;
  display:inline-block;
  float:left;
}

.ap-title {
  font-family: "Arial Rounded MT Bold";
  font-size:3em;
  color: #293333;
}

.navbar-default {
background-color: #049DBF;
}

.footer {
  height: 50px;
}

.footer-text1 {
  margin-bottom: 0px;
  float: left;
  display: inline-block;
}

.footer-text2 {
  margin-bottom: 0px;
  float: right;
  display: inline-block;
}
/* header animations*/

.animated{
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-ms-keyframes fadeInRight {
  0% {
    opacity: 0;
    -ms-transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -ms-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}